
.login {
    position: relative;
    top: -22px;
    margin-right: -10px;
    margin-left: -10px;
    background-image: url(../img/10.jpg);
    height: 100px;
    background-size:100%;
    background-color: #070707;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.login h1{
    color: rgb(255, 255, 255);
}

.Logo{
    position: relative;
    top: -90px;
    margin-left: 135px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.menu{
    position: relative;
	border:4px solid rgb(0, 0, 0);
    border-radius: 10px;
	list-style: none;
	background: #ffffff;
	color: rgb(134, 25, 25);
	width: 70%;
	max-width: 1000px;
	margin: auto;
	margin-right: 250px;
    margin-left: 145px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: #b10b0b;
}
.menu li a{
	text-decoration: none;
	color: rgb(0, 0, 0);
	padding: 15px;
	display: block;
}
.menu li {
	display: inline-block;
	text-align: center;
	text-align: right;
}
.menu li a:hover{
	background: #b10b0b;
	color: rgb(255, 255, 255);
}
.form{
    position: relative;
	border:4px solid rgb(0, 0, 0);
    border-radius: 10px;
	list-style: none;
	background: #ffffff;
	color: rgb(134, 25, 25);
	width: 70%;
	max-width: 1000px;
	margin: auto;
	margin-right: 250px;
    margin-left: 145px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: #b10b0b;
}
.form-ejercicios{
	border:4px solid rgb(0, 0, 0);
    border-radius: 10px;
	list-style: none;
	background:#070707;
	color: rgb(255, 255, 255);
	width: 70%;
	max-width: 500px;
	margin-right: 0px;
    margin-left: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: #b10b0b;

}
.group-form{
    margin-left: 100px;
    margin-top: 20px;

}
.bo{
    margin-left: 400px; 
    border-radius: 50px;
}